<link rel="stylesheet" href="__static__/lib/layui-v2.5.4/css/layui.css" media="all">
<link rel="stylesheet" href="__static__/css/public.css" media="all">
<script src="__static__/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">父级节点：</label>
        <div class="layui-input-inline">
            <input type="text" id="tree" lay-filter="tree" class="layui-input">
            <input type="hidden" id="pid_id" name="pid_id" value="{$info['pid']|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限名称：</label>
        <div class="layui-input-inline">
            <input name="name" autocomplete="off" class="layui-input" value="{$info['name']|default=''}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限标识：</label>
        <div class="layui-input-inline">
            <input type="condition" name="condition" class="layui-input" value="{$info['condition']|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限类型：</label>
        <div class="layui-input-block">
            {if isset($info) && $info['type'] == 2}
                <input type="radio" name="type" value="1" title="菜单">
                <input type="radio" name="type" value="2" title="按钮" checked>
            {else /}
                <input type="radio" name="type" value="1" title="菜单" checked>
                <input type="radio" name="type" value="2" title="按钮">
            {/if}

        </div>
    </div>
</form>
<script src="__static__/js/jquery.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.config({
        base: '__static__/js/lay-module/' //treeSelect.js所在的目录
    }).extend({ //设定模块别名
        treeSelect: 'treeSelect/treeSelect'
    }).use(['treeSelect','jquery'], function () {
        var treeSelect = layui.treeSelect;
        treeSelect.render({
            // 选择器
            elem: '#tree',
            // 数据
            data: 'menus',
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '修改默认提示信息',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 一些可定制的样式
            style: {
                folder: {
                    enable: true
                },
                line: {
                    enable: true
                }
            },
            // 点击回调
            click: function(d){
                $('#pid_id').val(d.current.id)
            },
            success:function (d) {
                if ($('#pid_id').val() != '') {
                    treeSelect.checkNode('tree', $('#pid_id').val());
                    //treeSelect.checkNode('tree', 1, d.treeId);

                }
            }
        });

    });

</script>