<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">站点名称</label>
            <div class="layui-input-inline">
                <input type="text"  required lay-verify="required" name="siteName"  class="layui-input" value="" >
                </div></div>
        <div class="layui-inline">
            <label class="layui-form-label">ICP备案号</label>
            <div class="layui-input-inline">
                <input type="text"  required lay-verify="required" name="fileRecord"    class="layui-input" value="" >
                </div></div>
        </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text"  required lay-verify="required" name="sitePhone"  class="layui-input" value="" >
                </div></div>
        <div class="layui-inline">
            <label class="layui-form-label">平台信息</label>
            <div class="layui-input-inline">
                <input type="text"  required lay-verify="required" name="type"    class="layui-input" value="" >
                </div></div>
        </div>
    <div class="layui-form-item" style="width: 621px;">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="siteMark" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>